{% extends 'index.html' %}

{% load static %}

{% block content %}
{% include 'navbar.html' %}


<body  style="background-color: rgb(146, 136, 136);">
    <br>

    <div class="container mt-5 " >
        <h1><a href="{% url 'singleProfile' recipient.id %} "><i class="bi bi-arrow-left-square-fill" ></i></a></h1>
    
            
            <div class="sendMessage-content text-center" style="background-color: darkkhaki;">
                <h3 class="text-whitesmoke">Send Message</h3> <hr>
                
                <form class="margin" method="POST" autocomplete="off">    
                    
                    {% csrf_token %}

                    <div class="formControl">
                        <label for="formInput#text" style="color: beige;">{{form.senderName.label}}</label>
                        {{form.senderName}}
                    </div>
                    <div class="formControl">
                        <label for="formInput#text" style="color: beige;">{{form.email.label}}</label>
                        {{form.email}}
                    </div>

                   
                    <div class="formControl">
                        <label for="formInput#text" style="color: beige;">{{form.subject.label}}</label>
                        {{form.subject}}
                    </div>

                    <div class="formControl">
                        <label for="formInput#text" style="color: beige;">{{form.body.label}}</label>
                        {{form.body}}
                    </div> 
    
                    <button type="submit" class="btn btn-success mt-3">Send</button>
        
                </form>
    
                <br>
                
            </div>
    </div>
    
</body>

    









{% endblock content %}